body {
    background-image: url(https://i.pinimg.com/originals/07/6f/32/076f32a36e2f74ba140f45cf36a83a1e.jpg);
    background-size: 200px ;
    
}
h2 {
    font-family: Cursive;
    text-transform: uppercase; 
    color: white;
    background-color: #13D5EC;
    text-align: center;
}
p {
    color: white;
    font-family: Cursive;
    font-weight: bold;
    background-color: #13D5EC;
    font-size: 20px;
    text-align: center;
}
table {
    background-color:  #13D5EC;
    font-size: 20px;
    font-family: Cursive;
    color: white;
    width: 10px;
    height: 20px
   
    
}
th {
    color: black;
     font-family: Cursive;
     font-size:
     
}
table, th, td {
    border: 2px solid black
}
h1 {
     font-family: Cursive;
    text-transform: uppercase; 
    color: white;
    background-color:#13D5EC ;
}
ul{
    font-family: cursive;
    color: white;
    font-weight: bold;
    ;
   
    
}
li {
    color: white;
    background-color: #13D5EC;
    
}
a {
    background-color: #13D5EC
    ;color: red;
}
#media {
    background-color: white;
    color: black
    ; 
    
}
img {
    background-color: white
    ;border: 6px solid black;
    text-align: center;
}
#pink {
    width: 220px;
    height: 200px; 
}
button {
    border: 2px solid black
}
#clear {
    color: black;
    background-color: white;

}
